        *{
        font-family: 'Segoe UI', sans-serif;
        }
        .fondoblanco{
            background-color: #eeeeee;
            margin: 0;
        }

        .linea-verde {
            background-color: #3ab32b;
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 100px;
            margin: auto; 
            font-family: 'Bronzo', sans-serif;
        }
        
        .nav{
            text-align:center;
        }

        
        .menu{
            display: inline-block;
            background-color: #217017;
            color: white;
            padding: 3px 6px; 
            border-radius: 5px;
            font-weight: bold;
            font-family: 'Segoe UI', sans-serif;
        }


        .cuadro-blanco {
            background-color: white;
            width: 60%;
            margin:  30px auto;
            padding: 20px;
            border-radius: 10px;
        }

        
        .textolindo{
            text-align: center;
            font-size: 48px;
            color: #3ab32b; 
            font-weight: bold;
            font-family: 'Segoe UI', sans-serif;
         }

         
         .generaciones{
         display: flex;
         background-color: #ccc;
           }

         .generaciones a {
          flex: 1;
          text-align: center;
          padding: 10px;
          color: black;
          font-weight: bold;
          border-right: 1px solid white;
          }
       
        .boton-juegos {
            display: inline-block;
            background-color: #4b0082;
            color: white;
            padding: 10px 20px;
            border-radius: 8px;
            font-weight: bold;
            font-family: 'Segoe UI', sans-serif;
          }
   

        .img-xbox-original {
            width: 90%;
            display: block;
            margin: auto;
        }

        .img-xbox-360 {
            width:55%;
            display: block;
            margin: auto;
        }

        .img-xbox-one{
            width:65%;
           display: block;
           margin: auto;
        }

        .img-xbox-xys{
            display: block;
            width:80%;
            margin: auto;
        }
        
        
        footer {
            background-color: #1e1e1e;
            color: white;             
            padding: 15px;
            text-align:center;
            font-family:'Segoe UI', sans-serif;
            font-size: 14px;
            width: 100%;
        }
        